#@ load("@ytt:data", "data")
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-attach-controller
  namespace: #@ data.values.namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argo-attach
  template:
    metadata:
      labels:
        app: argo-attach
    spec:
      serviceAccountName: argoattach
      containers:
      - name: controller
        image: controller
        cmd: ["./main"]
        args: 
        - #@ "--resync-period=" + data.values.resync_period
        #@ for namespace in data.values.blocked_namespaces:
        - #@ "--blocked-ns=" + namespace
        #@ end

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: argoattach
  namespace: #@ data.values.namespace
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: argoattach
rules:
  - apiGroups: [""]
    resources: ["secrets","serviceaccounts"]
    verbs: ["*"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["rolebindings"]
    verbs: ["*"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["clusterroles", "roles"]
    verbs: ["bind", "escalate"]
  - apiGroups: ["field.vmware.com"]  
    resources: 
    - argoclusters
    - argonamespaces
    - argonamespaces/status
    - argoclusters/status    
    verbs: ["get", "list", "watch","update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: argoattach
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: argoattach
subjects:
  - kind: ServiceAccount
    name: argoattach
    namespace: #@ data.values.namespace
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aggregate-argoclusters-edit
  labels:
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
rules:
- apiGroups: ["field.vmware.com"]
  resources: ["argoclusters","argonamespaces"] 
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: aggregate-argoclusters-view
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
rules:
- apiGroups: ["field.vmware.com"]
  resources: ["argoclusters","argonamespaces"]  
  verbs: ["get", "list", "watch"]