name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:


jobs:
  build-and-release:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Carvel Tools
        run: |
          curl -L https://carvel.dev/install.sh | sudo bash
          kctrl version

      - name: Set Version
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "VERSION=latest" >> $GITHUB_ENV
          fi

      - name: Build Controller
        run: make build-controller

      - name: Release Controller
        if: startsWith(github.ref, 'refs/tags/v')
        run: make release-controller

      - name: Release Package
        if: startsWith(github.ref, 'refs/tags/v')
        run: make release

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: argo-attach.yml
          generate_release_notes: true
